.work {
    flex: 1;
    width: 100%;
    flex-direction: column;

    &__filter {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 4rem 0 2rem;
    }

    &__filter-item {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: var(--white-color);
        color: var(--black-color) !important;
        font-weight: 800;
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 0.5rem;

        &:hover {
            background-color: var(--secondary-color);
            color: var(--white-color) !important;
        }

        @media screen and (min-width: 2000px) {
            padding: 1rem 2rem;
            border-radius: 0.85rem;
        }

    }

    &__item-active {
        background-color: var(--secondary-color);
        color: var(--white-color) !important;
    }
}