.about {
    flex: 1;
    width: 100%;
    flex-direction: column;

    &__profiles {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 2rem;
    }
}